@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  background-image: url('../img/hero-patio-carros.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: content-box;

  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(4px);
}

.logo {
  margin: 3rem auto 1.5rem auto;
}

.logo img {
  border-radius: 1rem 0 1rem 0;
  border: 1px solid #FFFFFF;
}

.card-table {
  width: max-content;
  height: max-content;
  border-radius: 1rem;
  background-color: #1b1b1bf5;
  box-shadow: 12px 12px 10px;

  display: flex;
  align-items: center;
  justify-content: center;

}

.card-table h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  line-height: 0px;
  margin: 0px;
}

.choose-vehicle,
.show-result {
  padding: 3rem;
}

.carousel {
  perspective: 500px;
  height: 14rem;
  width: 22rem;
}

.carousel .carousel-item {
  top: 20px;
  left: 0px;
  width: 40%;

  position: absolute;
}

.btn-vehicle,
.btn-vehicle-mobile {

  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 12px;
  color: #fff;
  background-color: #2F2E41;
  margin: 0 auto;
  padding: 10px 15px;
  border: solid #6d63ff 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 8px;
  transition: 381ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-vehicle:hover,
.btn-vehicle-mobile:hover {

  transition: 381ms;
  padding: 10px 30px;
  transform: translateY(-0px);
  background-color: #6D63FF;
  color: #000000;
  border: solid 2px #2f2e41;
}

.btn-vehicle i,
.btn-vehicle-mobile i {
  font-size: .65rem;
  margin-left: .3rem;
  align-self: center;
  justify-self: center;
}

.container-select {
  position: relative;
  top: -12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2F2E41;
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  font-family: Roboto, sans-serif;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  overflow: hidden;
  border-radius: .25em;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #6d63ff;
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
}

.select:hover::after {
  color: #FFFFFF;
}

.vehicle-model {
  margin: 1.5rem 0rem;
}

/* ESTILOS Imagem */
.img-container {
  display: none;
  width: 100%;
  height: 200px;
  margin-bottom: .5rem;
  border-radius: .75rem;
  overflow: hidden;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  border: 4px solid #6D63FF;
}

/* Estilo para a imagem dentro do círculo */
.img-container img {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  transition: transform 0.3s ease;
}

/* Efeito de "saltar" no hover */
.img-container:hover img {
  transform: scale(1.1);
}


.form-group {
  opacity: 0;
  transition: 0.3s all ease;
}

.form-group input {
  color: #fff;
}

/* ESTILOS Loading */

.loader-wrapper {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #6D63FF;
  /* Cor do spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.show-result {
  position: relative;
}

.show-result-img {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 80%;
  height: 80%;

  visibility: visible;
  transition: 0.3s all ease;
}

.vehicle-model,
.vehicle-brand,
.vehicle-year {
  visibility: hidden;
  /* transition: 0.3s all ease; */
}

.btn-mobile {
  display: none;
}

@media only screen and (max-width: 430px) {

  body {
    min-height: 0;
    height: 100vh;
  }

  .logo {
    margin: 1.5rem auto;
  }

  .logo img {
    width: 60%;
    display: block;
    margin: 0 auto;
  }

  .card-table {
    width: 95%;
    height: 62vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 4px 4px 2px;
  }

  .card-table h2 {
    padding: .75rem;
  }

  .choose-vehicle,
  .show-result {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }

  .choose-vehicle {
    position: absolute;
  }

  .show-result {
    z-index: -1;
  }

  .show-result-img {
    display: none;
  }

  .btn-mobile button {
    margin-top: 1.5rem;
    font-size: 1rem;

    padding: 15px 20px;
  }

  .btn-mobile button:hover {
    color: #fff;
    padding: 15px 40px;
  }

  .btn-mobile button i {
    font-size: 1rem;
    margin-right: .2rem;
  }

}